<h1>Calendar view</h1>

<%- current_pay_period = nil -%>
<%- cycle_counter = "even" -%>

<%= calendar(number_of_days: @calendar_presenter.number_of_days, start_date: @calendar_presenter.start_date) do |date| %>
  <span class="date" title="<%= date.to_fs(:long) %>"><%= date.strftime(date.day == 1 ? "%d %b" : "%d") %></span>

  <%- pay_period = @calendar_presenter.pay_period_for_date(date) -%>
  <%- next if pay_period.blank? -%>
  <%- if pay_period != current_pay_period -%>
    <%- current_pay_period = pay_period -%>
    <%- cycle_counter = (cycle_counter == "odd" ? "even" : "odd") -%>
  <%- end -%>

  <span class="pay_period_indicator <%= cycle_counter %>" data-pay-period-id="<%= pay_period.id %>"></span>
<%- end -%>

