<!DOCTYPE html>
<html>
  <head>
    <title>AmbikiPayPeriods</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <script src="https://kit.fontawesome.com/dc4b902853.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <div id="content_wrapper">
      <header id="primary_header"><%= render partial: "layouts/header" %></header>
      <%= render partial: "layouts/flash_messages" %>
      <div id="primary_content">
        <%= yield %>
      </div>
      <div id="secondary_content">
        <%= yield :secondary_content %>
      </div>
      <footer id="primary_footer"><%= render partial: "layouts/footer" %></footer>
    </div>
  </body>
</html>
